<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<!-- ::表示我们要在header这个file里面寻找common-header这部分，而且这里的common没有/说明是在一个folder下的 -->
<head th:replace="common/header :: common-header" />

<body>
	<!-- <div class="page-top" style="width:100%; height:20px; background-color:#f46b42;"></div> -->
	<!-- Static navbar -->

	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row" style="margin-bottom: -100px;">
			<div class="col-xs-8">
				<h2 class="section-headline">
					<span
							th:text="${user}? ${#strings.toUpperCase(user.username)} : 'All Products'"></span>
				</h2>
			</div>
			<div class="col-xs-4">
				<img src="image/logo.jpeg" style="width: 150px;" />
			</div>
		</div>
		<!-- z-index是为了控制图层的，z-index越大，图层越考上 -->
		<hr
			style="width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: 20px;" />
		<!-- 
		<img src="image/candy.png" class="img-responsive" style="margin-top:25px;" /> -->

		<div class="row" style="margin-top: 30px">
			<div class="col-xs-9">
			<div th:if="${emptyList}">
					<h5 style="font-style: italic;">Oops, no result is found. Try
						something else or try again later.</h5>
				</div>

				<table border="0" id="productList">
					<thead>
						<tr>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr class="product-item" data-th-each="product : ${productList}" >
							<td>
								<div th:if="${product != null}">
									<div class="row" style="margin-bottom: 50px;">
										<div class="col-xs-3">
											<a th:href="@{/productDetail?id=}+${product.id}"><img 
												class="img-responsive shelf-product"
												th:src="@{http://localhost:8082/adminportal/image/product/}+${product.id}+'.jpg'" /></a>
										</div>
										<div class="col-xs-9" >
											<a th:href="@{/productDetail?id=}+${product.id}"><h4
													th:text="${product.title}"></h4></a> <span
												th:text="${product.boughtDate}"></span>
											<p th:text="${product.sendingPlace}"></p>
											<a th:href="@{/productDetail?id=}+${product.id}"><span
												th:text="${#strings.capitalize(product.category)}"></span></a> <br />
														<a th:href="@{/productDetail?id=}+${product.id}"><span
												style="font-size: x-large; color: #db3208;">$<span
													th:text="${#numbers.formatDecimal(product.sellPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span></a>

											<span style="text-decoration: line-through;">$<span
												th:text="${#numbers.formatDecimal(product.boughtPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span>

											<p th:utext="${#strings.abbreviate(product.description, 1000)}"></p>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
            


			</div>
		</div>

	</div>
	<!-- end of the container -->
	<div th:replace="common/header :: body-bottom-scripts" />


</body>
</html>
